
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0a5ff;
    color: #000000;
}

h1, h6 {
    margin-bottom: 10px;
    color: #ffffff;
}

h2, h3, h4, h5,{
    margin-bottom: 10px;
    color: #170022;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    align-items: center;
}

header {
    background-color: #4f0057;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.breakfast, .lunch, .dinner {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


footer {
    background-color: #4f0572;
    color: #fff;
    text-align: center;
}

